.searchBar{
    width:263px;
    height:329px;
    margin-left: 15px;
    margin-top:129px;
    background: #d9d9d9;
}

.search-text{
    width: 81px;
    height: 33px;
    margin-left: 42px;
    margin-top: 138px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 33px;
    color: #000000;
}

h3{
    width: 79px;
    height: 20px;
    margin-left: 36px;
    margin-top: 12px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000; 
}

.search-input{
    width: 194px;
    height: 22px;
    margin-left: 15px;
    background: #FFFFFF;
}

.search-button{
    width: 132px;
    height: 28px;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: 27px;
    background: #B2ADAD;
    border: none;
    font-family: 'Inika';
}

.destination-image{
    width: 14px;
    height: 14px;
    margin-left:10px;
    margin-top:5px;
}

.calendar{
    width: 14px;
    height: 14px;
    margin-left:10px;
    margin-top:5px;
}

.destination-div{
    display:flex;
    flex-direction: row;
}

.calendar-div{
    display:flex;
    flex-direction: row;
}